
/* ---- Default Styles ---- */ 
* {
  font-family: sans-serif;
  /* change font to white for color blindness in the nav bar */
  color: #151618;
}

p {
  margin: 0;
}

img {
  width: 20px;
  height: 20px;
}

/* *---- Layout Containers ---- */ 
.container {
  width: 90%;
  margin: 0 auto;
}

main, .header-container {
  width: 90%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  background-color: #EFE4D4;
}

/* -----------------HEADER----------------- */
.main-header {
 background-color: #666d5a;
 /* background-color: #556b2f; */
 height: 150px;
 display: flex;
 flex-direction: columns;
 justify-content: space-between;
 align-content: flex-end;
}

/* ---------------nav bar------------- */
.left-side-header {
  display: flex;
  align-items: flex-end;
}

ol {
  display: flex;
}

li {
  margin: 20px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  justify-content: flex-end;
}

.right-side-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
 margin: 10px;
}

.logo-container {
  display: flex;
  margin-bottom: 20px;
}

.name-logo {
  font-size: 30px;
  font-weight: bolder;
}

.nearby {
  color: #EFE4D4;
}


                          /* ---- Header Images ---- */ 

.nav-icon {
  margin-right: 10px;
 }

.user-img {
  margin: 5px;
}

.user-name {
  margin: 5px;
}

.coffee-cup {
  margin-left: 5px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.drop-down-arrow {
  height: 10px;
  margin-top: 6px;
}

/* --------------------MAIN SECTION (CARDS) --------------------*/
.near-you {
  font-size: 2em;
  opacity: .7;
  font-weight: 480;
  padding-top: 40px;
  padding-bottom: 40px;
}
                      /*-----------INDIV CARDS---------- */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 375px;
  opacity: 0.65;
  box-shadow: 1px 1px 1px grey;
 
}

                          /* -------- CARD TOP -------- */
.card-top {
  display: flex;
  height: 35%;
  justify-content: space-between;
}

.favorite-me {
  margin: 20px;
  height: 40px;
  width: 40px;
}

.miles-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.miles-label {
font-size: 16px;
color: #070707;
}

.miles {
font-size: 35px;
font-weight: 500;
color: #070707;
}

                     /* ----------CARD IMAGE BACKGROUNDS------ */
.card-img-1 {
  background-image: url("../assets/coffee-shop-2.jpeg");
  background-size: 500px 200px;
}

.card-img-2 {
  background-image: url("../assets/coffee-shop-3.jpeg");
  background-size: 500px 200px;
}

.card-img-3 {
  background-image: url("../assets/coffee-shop-4.jpg");
  background-size: 500px 200px;
}

.card-img-4 {
  background-image: url("../assets/coffee-shop-5.jpg");
  background-size: 500px 200px;
}

.card-img-5 {
  background-image: url("../assets/coffee-shop-6.jpg");
  background-size: 500px 200px;
}

.card-img-6 {
  background-image: url("../assets/coffee-shop-extra.jpg");
  background-size: 500px 200px;
}

/* //take mom photo out. Not good size./ or resize. */
.card-img-7 {
  background-image: url("../assets/coffee-shop-mom.jpg");
  background-size: 335px 150px;
}

.card-img-8 {
  background-image: url("../assets/coffee.shop-1.jpeg");
  background-size: 500px 200px;
}


                /* ----------CARD BOTTOM--------------- */
.card-bottom {
  display: flex;
  flex-direction: column;
  height: 65%;
}

             /* NOTE 3 INDIV CONTAINERS WITHIN CARD BOTTOM 
              .details, .adress-container, and rating-container */
.details-container {
  display: flex;
  justify-content: space-between;
  height: 51%;
  margin-left: 18px;
  margin-right: 18px;
}
               /* within details container */
.name-and-hours {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 6px;
}

.shop-name, .hours {
  margin: 0;
}

.shop-name {
  margin-top: 10px;
  margin-bottom: 0px;
}

.hours {
  margin-top: 0px;
  color: hsl(225, 2%, 36%); 
  font-size: .7em;
  margin-left: 2px;
}

.shop-features {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  margin-top: 10px;
}

.feature {
  display: flex; 
  align-items: center;
}

.feature-img {
  size: 80%;
}

.feature-p {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 0px;
}

.address-container {
  display: flex;
  background-color: #b68557 ;
  height: 22%;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
                        /* within address container */
.address {
 color: hsl(240, 1%, 14%); 
 padding: 6px;
 font-size: .8em;
 padding-right: 15px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  height: 27%;
  margin-left: 18px;
  margin-right: 18px;
}

.rating-label {
  font-size: 12px;
  margin: 3px;
}

.number-rating {
  font-size: 1.5em;
  color: #556b2f;
  margin-right: 12px;
  margin-left: 6px;
}

             /* within-rating-container */
.num-rating-container {
  display: flex;
  align-items: center;
}

.rating-star {
  height: 70%;
  padding-top: 3px;
}

/* ----------------MOBILE RESPONSIVE DESIGN/ MEDIA QUERIES-------------- */
@media screen and (max-width: 425px) {
  .hide-for-mobile {
    display: none;
  }

  /* FIX NEEDED */
  /* align-items: space-between;
    justify-content: space-between; */
  .main-header {
    display: flex;
  }

  .mobile-header-container  {
     display: flex;
  }

  .left-mobile-header-container {
    margin: 20px;
  }

  .hamburger-menu {
    margin-left: 130px;
    margin-top: 20px;
  }

  .name-logo {
    font-size: 15px;
  }

  .mobile-user-img {
    height: 50px;
    width: 50px;
    margin: 10px;
  }

  article:nth-child(1) {
    margin-top: 10px;
  }


                       /* ----------CARD --------------- */
  .cards {
    grid-gap: 2px;
  }

  .card {
    min-height: 325px;
  }

  .details-container {
    display: flex;
    justify-content: center;
  }

  .shop-features {
    display: flex;
    flex-direction: row;
    align-items: space-around;
  }

  .feature-img {
    padding: 6px;
    height: 35px;
    width: 35px;
  }

  .num-rating-container {
    display: flex;
    justify-content: center;
  }

  .card-top {
    margin: 20px;
    border-radius: 3px;
  }

  .shop-title-mobile {
    font-size: 20px;
    margin: 9px;
  }
}

@media screen and (min-width: 450px) {
  .hide-for-desktop {
    display: none;
  }
}

