* {
  font-family: sans-serif;
  color: #151618;
}

p {
  margin: 0;
}

/* p, h1, h2, h3, h4 {
  font-family: sans-serif;
  color: #151618;
} */


/* *---- Layout Containers ---- */ */
.container {
  width: 90%;
  margin: 0 auto;
  border: solid pink;
}

main {
  width: 90%;
  margin: 0 auto;
}
/* 
-----------------HEADER----------------- */
header {
  border: solid red;
}


/* //if space at top of file */
/* h1 {
  margin-top: 0;
} */

/* --------------------MAIN SECTION (CARDS) --------------------*/


.near-you {
  font-size: 2em;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
}
/*--------------------INDIV CARDS---------------------- */
.cards {
  border: solid blue;
  /* border: 1px dashed; */
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(3, 20vw); */



  grid-gap: 20px;
  /* grid-template-columns: repeat(3, 1fr); */

   /* grid-template-rows: repeat(3, 100px)*/
   /* grid-gap: 20px; */
}

.card {
  display: flex;
  flex-direction: column;
  background-color: pink;
  min-height: 375px;
}

/* -------- CARD TOP -------- */

.card-top {
  display: flex;
  background-color: yellow;
  height: 35%;
}

.miles-container {
  display: flex;
  border: solid orange;
}

/* -------------CARD IMAGE BACKGROUNDS----------- */
.card {
  border: 6px solid black;
}

card-image-1 {
  background-image: url(coffee1-jpeg);
}

card-image-2 {
 
}

card-image-3 {
 
}

card-image-4 {
 
}

card-image-5 {
 
}

card-image-6 {
 
}

card-image-7 {
 
}

card-image-8 {
 
}


/* ----------CARD BOTTOM--------------- */
.card-bottom {
  display: flex;
  flex-direction: column;
  height: 65%;
}

/* .bottom-contents {
  margin: 5px;
} */
/* 3 INDIV CONTAINERS WITHIN CARD BOTTOM 
.details, .adress-container, and rating-container */
.details-container {
  display: flex;
  justify-content: space-between;
  border: dashed green;
  height: 51%;
  margin-left: 10px;
  margin-right: 10px;
}
/* within details */
.name-and-hours {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  flex: 1;
}

.shop-name, .hours {
  /* flex: 1; */
  margin: 0;
}

.shop-name {
  margin-top: 10px;
  margin-bottom: 0px;
}

.hours {
  margin-top: 0px;
  color: hsl(225, 2%, 36%); 
}

.shop-features {
  display: flex; 
  flex-direction: column; 
  background-color: cadetblue;
  flex: 1;
}

.feature {
  /* flex: 1; */
}

.feature-p {
  margin: 0;
}

.address-container {
  display: flex;
  background-color: darkgoldenrod;
  height: 22%;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.address {
 color: hsl(240, 1%, 14%); 
 padding: 6px;
 font-size: .8em;
 padding-right: 15px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  height: 27%;
  margin-left: 10px;
  margin-right: 10px;
}

.number-rating {
  font-size: 1.5em;
}

/* within-rating-container */
.num-rating-container {
  background-color: darkgrey;
  display: flex;
}

.star-container {
  /* display: flex; */
  background-color: yellowgreen;
}

/* ----------------MOBILE RESPONSIVE DESIGN-------------- */
@media screen and (max-width: 425px) {
  .hide-for-mobile {
    display: none;
  }

  /* ----------CARD BOTTOM--------------- */
  .mobile-details {
    border: dashed red;
  }

  .cards {
    /* //change this below. */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }
  
}

/* //do I use this below? */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .hide-for-desktop {
    display: none;
  }
  /* //this includes the hamburger icon */
}


/* grid-template-columns: minmax(200px, 1.167fr) 0.45fr 0.25fr 0.3fr 0.8fr; */


/*--------------------------- STARTING TEMPLATE */
/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */
/* --------------------- */

/*--------STYLE INDIVIDUAL BOXES TO SPAN MULTIPLES COLUMNS OR ROWS */

/* .box1 {
  grid-row: span 2;
}

.box8 {
  grid-column: span 2;
  /* which is shorthand for */
/*   grid-column: 1 / 3; */
  /* which is shorthand for */
/*   grid-column-start: 1; */
/*   grid-column-end: 3; */
/* } */ 

/* ----------------Span entire column------------------- */
/* span the entire width of the grid */
/* .box9 {
  grid-column: 1 / -1;
} */
/* ------------------Make Grid Adaptive-------------------- */
/* grid-template-columns: repeat(auto-fit, 300px); */
/* ----------------Make grid responsive--------- */
/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */