
/* ---- Layout Containers ---- */
.container {
  width: 90%;
  margin: 0 auto;
  border: solid pink;
}
/* 
-----------------HEADER----------------- */
header {
  border: solid red;
}


/* //if space at top of file */
/* h1 {
  margin-top: 0;
} */

/* --------------------MAIN SECTION (CARDS) --------------------*/

/*--------------------INDIV CARDS---------------------- */
.cards {
  border: solid blue;
  /* border: 1px dashed; */
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-gap: 20px;
  /* grid-template-columns: repeat(3, 1fr); */

   /* grid-template-rows: repeat(3, 100px)*/
   /* grid-gap: 20px; */
}

.card-top {
  background-color: yellow;
}

.miles-container {
  border: solid orange;
}

/* -------------CARD IMAGE BACKGROUNDS----------- */
.card {
  border: solid green;
}

img-top-1 {
  background-image: url(coffee1-jpeg);
}

img-top-2 {
 
}

img-top-3 {
 
}

img-top-4 {
 
}

img-top-5 {
 
}

img-top-6 {
 
}

img-top-7 {
 
}

img-top-8 {
 
}



/* ----------------MOBILE RESPONSIVE DESIGN-------------- */
@media screen and (max-width: 425px) {
}


/* grid-template-columns: minmax(200px, 1.167fr) 0.45fr 0.25fr 0.3fr 0.8fr; */


/*--------------------------- STARTING TEMPLATE */
/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */
/* --------------------- */

/*--------STYLE INDIVIDUAL BOXES TO SPAN MULTIPLES COLUMNS OR ROWS */

/* .box1 {
  grid-row: span 2;
}

.box8 {
  grid-column: span 2;
  /* which is shorthand for */
/*   grid-column: 1 / 3; */
  /* which is shorthand for */
/*   grid-column-start: 1; */
/*   grid-column-end: 3; */
/* } */ 

/* ----------------Span entire column------------------- */
/* span the entire width of the grid */
/* .box9 {
  grid-column: 1 / -1;
} */
/* ------------------Make Grid Adaptive-------------------- */
/* grid-template-columns: repeat(auto-fit, 300px); */
/* ----------------Make grid responsive--------- */
/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */